<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key></key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fleettrack</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fleettrack</string>
			</array>
			<key>fleettrack://login-callback</key>
			<string></string>
			<key>fleettrack://set-password</key>
			<string></string>
		</dict>
		<dict/>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>FleetTrack uses the camera to capture photos for inspections, reports, and trip documentation.</string>
</dict>
</plist>
